@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;

.preference {
  @include start;
  gap: 8px;
  @media (max-width: 512px) {
    @include start-col;
    width: 100%;
  }
  .preference_value {
    width: 100%;
  }
}
