@use "../../../../utils/styles/colors" as *;
@use "../../../../utils/styles/mixins" as *;

.change_password_content {
  @include center;
  flex-direction: column;
  width: 100%;
  .check_icon_container {
    @include center;
    background-color: $greenColorLight2;
    color: $greenColor;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    .check_icon {
      width: 30px;
      height: 30px;
    }
  }
  .description {
    margin: 20px 0 10px;
    color: $subtitleColor;
    text-align: center;
  }
}
