@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.refresh_container {
  @include end;
  gap: 10px;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    flex-direction: column;
  }
  .last_refresh {
    color: $subtitleColor;
    font-size: 14px;
  }
}

.jira_tasks_container {
  padding: 10px 20px 15px;
  border: 1px solid $borderColor;
  background-color: #fff;
  border-radius: 8px;
}

.project_cell {
  @include start;
  gap: 8px;
  img {
    width: 28px;
    height: 28px;
    border-radius: 6px;
  }
}

.task_link {
  position: relative;
  color: $mainColor;
  &:hover {
    text-decoration: underline;
  }
  .link_icon {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    color: $mainColor;
  }
}
