@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.worklog_status_cards_container {
  @include center;
  gap: 15px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.prev_month_worklog {
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  .prev_data {
    @include start;
    padding: 15px 10px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 12px 0 0 12px;
  }
}
