@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;

.worklog_info {
  @include between;
  flex-wrap: wrap;
  gap: 15px 0;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid $borderColor;
  @media (max-width: 600px) {
    @include start-rev;
    flex-direction: column;
  }
  .info {
    @include center;
    gap: 20px;
    @media (max-width: 600px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      align-items: center;
      margin-top: 15px;
      width: 100%;
    }
    .info_box {
      @include start;
      gap: 6px;
      color: #777777;
      font-size: 12px;
      .info_icon {
        width: 20px;
        height: 20px;
      }
      .info_label {
        &.evaluation,
        &.status {
          padding: 5px 10px;
          border-radius: 12px;
          background-color: $mainColor;
          width: fit-content;
          font-weight: 500;
        }
        &.evaluation {
          &.excellent {
            background-color: $mainColorLight2;
            color: $mainColor;
          }
          &.good {
            background-color: $greenColorLight;
            color: $darkGreenColor;
          }
          &.moderate {
            background-color: $orangeColorLight;
            color: $orangeColor;
          }
          &.poor {
            background-color: $redColorLight;
            color: $darkRedColor;
          }
        }
        &.status {
          &.synced {
            background-color: $greenColorLight;
            color: $darkGreenColor;
          }
          &.partially {
            background-color: $orangeColorLight;
            color: $orangeColor;
          }
          &.not_synced {
            background-color: $redColorLight;
            color: $darkRedColor;
          }
        }
      }
    }
  }
}
