@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;

.policy_item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  .policy_title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .inner_policy {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    p {
      margin: 10px 0;
      color: $subtitleColor;
    }
    ul {
      list-style: disc;
      margin-left: 30px;
      li {
        margin: 8px 0;
        color: $subtitleColor;
      }
    }
    span {
      display: block;
      margin: 15px 0;
      color: $subtitleColor;
    }
  }
}
