// colors
$mainColor: #2563eb;
$mainColorLight: #eff6ff;
$mainColorLight2: #e4f0ff;
$darkMain: #3932a2;
$greenColor: #16a34a;
$greenColorLight: #dcfce7;
$greenColorLight2: #e4fced;
$darkGreenColor: #166534;
$orangeColor: #d97706;
$orangeColorLight: #fef0e1;
$orangeColorLight2: #fef9e1;
$darkOrangeColor: #854d0e;
$redColor: #dc2626;
$darkRedColor: #991b1b;
$redColorLight: #fee2e2;
$cyanColor: #0891b2;
$cyanColorLight: #e0f7fa;
$backgroundColor: #f9fafb;
$lightGray: #f9fafb;
$lightGray2: #9ca3af;
$hoverColor: #f3f4f6;
$borderColor: #e5e7eb;
$darkBorderColor: #c9cacc;
$subtitleColor: #5c5c5c;
$disabledBackgroundColor: #ddd;
$disabledTextColor: #aaa;

// transitions
$mainTransition: 0.3s;

// box shadows
$mainBoxShadow: 0 2px 4px rgba(0, 0, 0, 0.2);
$authBoxShadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
