@use "../../../utils/styles/colors" as *;
@use "../../../utils/styles/mixins" as *;

.worklog_status_card {
  @include between;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  height: 115px;
  @media (min-width: 768px) and (max-width: 860px) {
    height: 140px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  &.main {
    background-color: rgba($mainColor, 0.1);
    .card_info {
      .card_label {
        color: $mainColor;
      }
      .card_sub_label {
        color: $mainColor;
      }
    }

    .card_icon {
      background-color: rgba($mainColor, 0.2);
      color: $mainColor;
    }
  }
  &.success {
    background-color: rgba($greenColor, 0.1);
    .card_info {
      .card_label {
        color: $greenColor;
      }
      .card_sub_label {
        color: $greenColor;
      }
    }
    .card_icon {
      background-color: rgba($greenColor, 0.2);
      color: $greenColor;
    }
  }
  &.info {
    background-color: rgba($orangeColor, 0.1);
    .card_info {
      .card_label {
        color: $orangeColor;
      }
      .card_sub_label {
        color: $orangeColor;
      }
    }
    .card_icon {
      background-color: rgba($orangeColor, 0.2);
      color: $orangeColor;
    }
  }
  .card_info {
    @include start-rev;
    flex-direction: column;
    gap: 8px;
    .card_label {
      font-size: 15px;
      font-weight: 500;
    }
    .card_value {
      font-size: 25px;
      font-weight: bold;
    }
    .card_sub_label {
      font-size: 13px;
    }
  }
  .card_icon {
    @include center;
    padding: 12px;
    border-radius: 50%;
  }
}
