.worklog_table_container .table_actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .worklog_table_container .table_actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.worklog_table_container .table_actions .log_button {
  color: #fff;
  padding: 20px;
  background-color: #2563eb;
}
.worklog_table_container .table_actions .log_button.unsync {
  background-color: #d97706;
}
.worklog_table_container .table_actions .log_button.sync_selected {
  background-color: rgb(179.7, 213.1666666667, 255);
}
.worklog_table_container .table_actions .log_button.sync_selected:not(:disabled) {
  color: #000;
}
.worklog_table_container .table_actions .log_button:disabled {
  background-color: #ddd;
  color: #aaa;
}
.worklog_table_container .table_actions .log_button:not(:disabled):hover, .worklog_table_container .table_actions .log_button:not(:disabled):active, .worklog_table_container .table_actions .log_button:not(:disabled):focus {
  color: #fff;
  background-color: rgb(20.5714285714, 84.3428571429, 224.2285714286);
  border-color: transparent;
}
.worklog_table_container .table_actions .log_button:not(:disabled):hover.unsync, .worklog_table_container .table_actions .log_button:not(:disabled):active.unsync, .worklog_table_container .table_actions .log_button:not(:disabled):focus.unsync {
  background-color: rgb(195.3, 107.1, 5.4);
}
.worklog_table_container .table_actions .log_button:not(:disabled):hover.sync_selected, .worklog_table_container .table_actions .log_button:not(:disabled):active.sync_selected, .worklog_table_container .table_actions .log_button:not(:disabled):focus.sync_selected {
  background-color: rgb(131.4, 186.3333333333, 255);
  color: #000;
}
.worklog_table_container .table_details .worklogs_table {
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}
.worklog_table_container .table_details .task_link {
  position: relative;
  color: #2563eb;
}
.worklog_table_container .table_details .task_link:hover {
  text-decoration: underline;
}
.worklog_table_container .table_details .task_link .link_icon {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  color: #2563eb;
}
.worklog_table_container .table_details .actions_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.worklog_table_container .table_details .actions_container .log_action_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
}
.worklog_table_container .table_details .actions_container .log_action_btn.sync {
  color: #2563eb;
}
.worklog_table_container .table_details .actions_container .log_action_btn.unsync {
  color: #d97706;
}
.worklog_table_container .table_details .actions_container .log_action_btn.delete {
  color: #dc2626;
}
.worklog_table_container .table_details .actions_container .log_action_btn.delete.disabled {
  color: #e5e7eb;
  cursor: not-allowed;
}/*# sourceMappingURL=trackera-table.module.css.map */