@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.worklog_table_container {
  .table_actions {
    @include end;
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      @include center;
    }
    .log_button {
      color: #fff;
      padding: 20px;
      background-color: $mainColor;
      &.unsync {
        background-color: $orangeColor;
      }
      &.sync_selected {
        background-color: scale-color($mainColorLight2, -10%);
        &:not(:disabled) {
          color: #000;
        }
      }
      &:disabled {
        background-color: #ddd;
        color: #aaa;
      }
      &:not(:disabled) {
        &:hover,
        &:active,
        &:focus {
          color: #fff;
          background-color: scale-color($mainColor, -10%);
          border-color: transparent;
          &.unsync {
            background-color: scale-color($orangeColor, -10%);
          }
          &.sync_selected {
            background-color: scale-color($mainColorLight2, -20%);
            color: #000;
          }
        }
      }
    }
  }
  .table_details {
    .worklogs_table {
      border: 1px solid $borderColor;
      border-radius: 6px;
    }
    .task_link {
      position: relative;
      color: $mainColor;
      &:hover {
        text-decoration: underline;
      }
      .link_icon {
        position: absolute;
        right: -18px;
        top: -8px;
        width: 15px;
        height: 15px;
        color: $mainColor;
      }
    }
    .actions_container {
      @include start;
      gap: 15px;
      .log_action_btn {
        @include center;
        color: #000;
        cursor: pointer;
        &.sync {
          color: $mainColor;
        }
        &.unsync {
          color: $orangeColor;
        }
        &.delete {
          color: $redColor;
          &.disabled {
            color: $borderColor;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
