@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.empty_state_container {
  @include center;
  width: 100vw;
  height: 100vh;
  &.fit_parent {
    width: 100%;
    height: 100%;
  }

  .content {
    @include center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: $mainBoxShadow;

    &.fit_parent {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 768px) {
      margin: 0 15px;
      padding: 20px;
    }

    .img {
      width: 90px;
      height: 90px;
    }

    .title {
      margin-top: 15px;
    }

    .message {
      margin-top: 10px;
      text-align: center;
      color: $subtitleColor;
    }

    .extra {
      margin-top: 20px;
      width: 100%;
    }
  }
}
