@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;

.auth_layout {
  @include center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  @media (max-width: 577px) or (max-height: 620px) {
    margin: 20px 0;
    height: auto;
  }
  .header {
    @include center;
    flex-direction: column;
    h3 {
      color: $mainColor;
      font-size: 24px;
    }
    p {
      color: $subtitleColor;
      font-size: 14px;
      margin-top: 5px;
    }
  }
  .auth_fields_container {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 6px;
    padding: 35px 25px;
    box-shadow: $authBoxShadow;
    width: 450px;
    max-width: 100%;
    @media (max-width: 480px) {
      width: calc(100% - 60px);
    }
    .auth_title {
      @include center;
      flex-direction: column;
      margin-bottom: 25px;
      h3 {
        font-size: 20px;
      }
      p {
        color: $subtitleColor;
        font-size: 14px;
        margin-top: 5px;
      }
    }
    .auth_form {
      @include center;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      .input_groups {
        @include start-col;
        flex-direction: column;
        width: 100%;
        gap: 20px;
      }
      .submit_button_container {
        width: 100%;
        .submit_button {
          width: 100%;
          padding: 18px;
          background-color: $mainColor;
          &:hover {
            background-color: scale-color($mainColor, -10%);
          }
          &:disabled {
            background-color: #ddd;
            color: #aaa;
          }
        }
      }
    }
  }
}
