.auth_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 577px) or (max-height: 620px) {
  .auth_layout {
    margin: 20px 0;
    height: auto;
  }
}
.auth_layout .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.auth_layout .header h3 {
  color: #2563eb;
  font-size: 24px;
}
.auth_layout .header p {
  color: #5c5c5c;
  font-size: 14px;
  margin-top: 5px;
}
.auth_layout .auth_fields_container {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 6px;
  padding: 35px 25px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  width: 450px;
  max-width: 100%;
}
@media (max-width: 480px) {
  .auth_layout .auth_fields_container {
    width: calc(100% - 60px);
  }
}
.auth_layout .auth_fields_container .response_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.auth_layout .auth_fields_container .response_content .response_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4fced;
  color: #16a34a;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.auth_layout .auth_fields_container .response_content .response_icon_container .response_icon {
  width: 30px;
  height: 30px;
}
.auth_layout .auth_fields_container .response_content .response_message {
  margin: 20px 0 10px;
  color: #5c5c5c;
  text-align: center;
}
.auth_layout .auth_fields_container .response_content .response_button {
  width: 100%;
  padding: 18px;
  background-color: #2563eb;
  margin-top: 15px;
}
.auth_layout .auth_fields_container .response_content .response_button:hover {
  background-color: rgb(20.5714285714, 84.3428571429, 224.2285714286);
}
.auth_layout .auth_fields_container .response_content .response_button:disabled {
  background-color: #ddd;
  color: #aaa;
}
.auth_layout .auth_fields_container .auth_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.auth_layout .auth_fields_container .auth_title h3 {
  font-size: 20px;
}
.auth_layout .auth_fields_container .auth_title p {
  color: #5c5c5c;
  font-size: 14px;
  margin-top: 5px;
}
.auth_layout .auth_fields_container .auth_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.auth_layout .auth_fields_container .auth_form .input_groups {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.auth_layout .auth_fields_container .auth_form .submit_button_container {
  width: 100%;
}
.auth_layout .auth_fields_container .auth_form .submit_button_container .submit_button {
  width: 100%;
  padding: 18px;
  background-color: #2563eb;
}
.auth_layout .auth_fields_container .auth_form .submit_button_container .submit_button:hover {
  background-color: rgb(20.5714285714, 84.3428571429, 224.2285714286);
}
.auth_layout .auth_fields_container .auth_form .submit_button_container .submit_button:disabled {
  background-color: #ddd;
  color: #aaa;
}/*# sourceMappingURL=auth-layout.module.css.map */