@use "../../../../shared/styles/colors" as *;
@use "../../../../shared/styles/mixins" as *;

.user_email {
  @include between;
  width: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .info {
    @include center;
    gap: 10px;
    .tags {
      @include start;
      gap: 5px;
      flex-wrap: wrap;
    }
  }
  .action_trigger {
    @include center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: $mainTransition;
    &:hover {
      background-color: $hoverColor;
    }
  }
}

.email_item {
  @include start;
  gap: 10px;
  padding: 8px;
  &:hover {
    &.primary {
      color: $mainColor;
    }
    &.resend {
      color: $orangeColor;
    }
    &.remove {
      color: $redColor;
    }
  }
}
