// colors
$mainColor: #2563eb;
$mainColorLight: #eff6ff;
$mainColorLight2: #e4f0ff;
$darkMain: #3932a2;
$greenColor: #16a34a;
$greenColorLight2: #e4fced;
$darkGreenColor: #166534;
$orangeColor: #d97706;
$orangeColorLight2: #fef9e1;
$darkOrangeColor: #854d0e;
$backgroundColor: #f9fafb;
$lightGray: #f9fafb;
$hoverColor: #f3f4f6;
$borderColor: #e5e7eb;

// transitions
$mainTransition: 0.3s;

// box shadows
$mainBoxShadow: 0 2px 4px rgba(0, 0, 0, 0.2);
