// colors
$mainColor: #2563eb;
$darkMain: #3932a2;
$greenColor: #16a34a;
$darkGreenColor: #166534;
$orangeColor: #d97706;
$darkOrangeColor: #854d0e;
$backgroundColor: #e9f2ff;
$lightGray: #ccc;

// transitions
$mainTransition: 0.3s;

// box shadows
$mainBoxShadow: 0 2px 4px rgba(0, 0, 0, 0.2);
