@use "./colors" as *;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin start-col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@mixin end-col {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

@mixin start-rev {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin end-rev {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin all-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin all-start-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@mixin all-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@mixin all-end-col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

// scrollbar

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    &-track {
      background-color: #f1f5f9;
      border-radius: 10px;
    }
    &-thumb {
      background-color: $mainColor;
      border-radius: 10px;
    }
  }
}
