@use "../../../utils/styles/colors" as *;
@use "../../../utils/styles/mixins" as *;

.composite_input_group {
  @include start;
  gap: 20px;
  width: 100%;
  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.input_group {
  @include start-col;
  flex-direction: column;
  width: 100%;
  .input_label {
    font-size: 14px;
    position: relative;
    margin-bottom: 5px;
    &::after {
      content: "*";
      color: $redColor;
      position: absolute;
      right: -10px;
      top: -5px;
      font-size: 15px;
    }
  }
  .input_field {
    padding: 10px 12px;
  }
  .input_icon {
    color: $lightGray2;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
