@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.composite_input_group {
  @include all-start;
  gap: 20px;
  width: 100%;
  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.privacy_policy_text {
  font-size: 12px;
  color: $subtitleColor;
  margin-top: 20px;
  text-align: center;
  .privacy_policy_link {
    color: $mainColor;
    &:hover {
      text-decoration: underline;
    }
  }
}
