@use "../../../../utils/styles/colors" as *;
@use "../../../../utils/styles/mixins" as *;
@use "sass:color";

.forget_password_box {
  width: 100%;
  @include end;
  .forget_password_link {
    color: $mainColor;
    font-size: 14px;
    text-decoration: none;
    width: fit-content;
    &:hover {
      color: color.scale($color: $mainColor, $lightness: -20%);
      text-decoration: underline;
    }
  }
}
